.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.btn{
    padding: 12px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto; /*skill content middle e jawer jonno*/
}
.section-heading h2{
    margin-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

nav{
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
}
nav img{
    width: 139px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

#hero{
    max-width: 1590px;
    /* height: 674px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 115px 120px 179px 120px;
    background:url(images/hero-bg.png);
}

#hero .hero-content{
    
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    
    
}
.hero-content .spn{
    width: 229px;
    background-color: #ffffff;
    color: #469165;
    padding: 12px;
    border-radius: 100px;
    margin-bottom: 16px;
    text-align: center;
    margin: 0 auto;
    
}
.hero-content h1{
    color: #ffffff;
    font-size: 72px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.hero-content p{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}
.hero-content .htag{
    color: #469165;
}

 .btn1{
    background-color: #469165;
    color: #ffffff;
    padding: 16px;
    border: none;
    font-size: 16px;
    margin-right: 16px;
    border-radius: 4px;
}
.btn2{
    color: #000000;
    padding: 16px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    
}

.btn1:hover ,
.btn:hover{
    background-color: #e4853d;
    color: #ffffff;
}

.btn2:hover{
    background-color: #469165;
    color: #ffffff;
    font-size: 20px;
}

#failure{
    padding:0 120px ;
}
#failure .failure-container{
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
#failure .failure-container .failure-box{
    display: flex;
    gap: 24px;
    
    
}
.failure-box .failure-card{
    padding: 24px; 
    box-shadow: 0 6px 50px 0 #00000013;
    max-width: 322px; 
    border-radius: 8px;
    text-align: center;
    
}

.failure-card img{
    background-color: #F95555;
    border-radius: 50px;
    padding: 10px ;
    
}

.failure-card h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}
.failure-card p{
    font-size: 16px;
    line-height: 28px;
    color: #627382;
}
 #section{
    padding: 120px;
 }
#section .section-container{
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0 auto;
}
.section-container .right-content{
    max-width: 700px;
}
.right-content ul li{
    list-style: none;
    /* margin-left: 30px; */
    margin-bottom: 16px;
    color: #001931;
    font-size: 16px;

}
.right-content span{
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
img-cotainer img{
    max-width: 600px;
    border-radius: 12px;
}
.right-content h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.right-content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

 #ready{
    padding: 0 120px 120px 120px
 }
.ready-container{
    background-color: #F7F6F2;
    border-radius: 12px;
}
.ready-container h2{
    padding: 80px 40px 0;
}

.ready-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto; /*skill content middle e jawer jonno*/
}
.ready-heading h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 16px;
}
.ready-heading p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color:#627382;
}
.ready-heading .pro{
    margin-top: 16px;
    font-size: 16px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 30px;
    padding-bottom: 80px;
}

footer{
    background-color: #001931;
}
.footer-container{
    padding: 120px 120px 30px;
}
.footer-container .social-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon h5{
    color: #F7F6F2;
    font-size: 20px;
    margin-bottom: 16px;

}
.icon a{
    padding: 4px;
    background-color: #F7F6F2;
    border-radius: 20px;
}
 .footer-container hr{
    margin-top: 50px;
    border: 1px solid #627382;
 }

 .footer-container p{
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    color: #FAFAFA;
    font-size: 16px;
 }
